<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>{{ site.description }}</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="/feed.xml">
              <span>
                <img src="/img/feed-icon.png" alt="feed icon"/>
              </span>
              <span>News Feed</span>
            </a>
          </li>
          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}">
              <span class="icon">
                {% include email-icon.html %}
              </span>
              <span>Contact us</span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon">
                {% include github-icon.html %}
              </span>
              <span>GitHub</span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon">
                {% include twitter-icon.html %}
              </span>

              <span>Twitter</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
