/**
 * Site header
 */
.site-header {
    text-align: center;

    // Positioning context for the mobile navigation icon
    position: relative;

   .site-nav-wrapper {
      background: linear-gradient(to bottom, white, 10%, $scheme-color-1);
      @include media-query($on-palm) {
          background: white;
      }
   }
}

.site-title {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: white;
    }
}

.site-nav {
    line-height: 32px;
    display:table;
    margin:0 auto;

    .menu-icon {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul li {
        display: block;
        position: relative;
        float: left;
        min-width: 120px;
    }
    li ul {
        display: none;
        margin-left: 0;
    }
    ul li a {
        display: block;
        text-decoration: none;
        padding: 5px 15px 5px 15px;
        margin-left: 1px;
        color: white;
    }
    ul li a:hover {
        background: white;
        color: $scheme-color-1;
    }
    li:hover ul {
        display: block;
        position: absolute;
    }
    li:hover li {
        float: none;
    }
    li:hover a { background: $scheme-color-1; }
    li:hover li a:hover { background: white; }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        ul {
            margin-left: 0;
        }
        li ul {
            display: block;
        }
        ul li {
            display: block;
            position: relative;
            float: none;
        }
        ul li a {
            display: block;
            text-decoration: none;
            padding: 5px 15px 5px 15px;
            margin-left: 1px;
            color: $scheme-color-1;
        }
        li:hover a:hover {
            background-color: $scheme-color-1;
            color: white;
        }
        li:hover ul {
            display: block;
            position: relative;
        }
        li:hover li {
            float: none;
        }
        li:hover a { background: white; }
        li:hover li a:hover {
            background-color: $scheme-color-1;
            color: white;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.contact-list img,
.social-media-list img {
    height: 15px;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/* People */

.people {
  clear: both;
}

.people-photo {
  float: left;
  margin: 5px;
  width: 130px;
  height: 120px;
}

.people-info {
  float: left;
  margin: 5px;
  max-width: -webkit-calc(100% - 150px);
  max-width:         calc(100% - 150px);
}

.people-info a {
  text-decoration: none;
}

/* Projects */

.project {
  margin: 1em;
  padding: 0.5em;
  background-color: $scheme-color-1;
}
